/* Overrides */
/*Keep region highlighted when selected*/
.region-selected {
    color:#deebff;
    background-color:rgba(9,30,66,.48)
}
img {
    opacity: 0.3;
    height: 200px;
    position: absolute;
    top: 140px;
    left: 330px;
}

#serviceStatus, #stackState, #currentVersion {
    max-height: 20px;
}

#serviceStatus aui-spinner, #stackState aui-spinner, #currentVersion aui-spinner {
    left: 110px;
    top: -20px;
}

#paramsList {
    min-height: 100px;
}

#templateSelection, #templates {
    min-width: 500px;
}
