{% extends "page-content.html" %}
{% block head %}
{{ super() }}
    <script src="/static/js/tag.js"></script>
{% endblock head %}

{% block extraInput %}
<form class="aui" id="tags" hidden>
    <div id="existing-tags">
        <h3>Existing tags</h3>
    </div>
    <h3>New tags</h3>
    <div class="field-group">
        <input class="text" type="text" placeholder="Key" name="key">
        <input class="text" type="text" placeholder="Value" name="value">
    </div>
    <div class="field-group">
        <input class="text" type="text" placeholder="Key" name="key">
        <input class="text" type="text" placeholder="Value" name="value">
    </div>
    <div class="field-group">
        <input class="text" type="text" placeholder="Key" name="key">
        <input class="text" type="text" placeholder="Value" name="value">
    </div>
    <div class="field-group">
        <input class="text" type="text" placeholder="Key" name="key">
        <input class="text" type="text" placeholder="Value" name="value">
    </div>
    <div class="field-group">
        <input class="text" type="text" placeholder="Key" name="key">
        <input class="text" type="text" placeholder="Value" name="value">
    </div>
</form>
{% endblock extraInput %}

{% block buttonText %}Update Tags{% endblock buttonText %}