{% extends "page-content.html" %}
{% block head %}
    <script src="/static/js/template-params.js"></script>
{% endblock head %}

{% block templateSelector %}
<a id="templateSelector" href="#templateSelection" aria-owns="templateSelection" aria-haspopup="true"
   class="aui-button aui-style-default aui-dropdown2-trigger">
    Select Template
</a>
<!-- Template dropdown -->
<div id="templateSelection" class="aui-style-default aui-dropdown2">
    <ul class="aui-list-truncate" id="templates"></ul>
</div>
{% endblock templateSelector %}

{% block Parameters %}
{% block ParametersTop %}
<!-- Parameters -->
<form class="aui long-label" id="paramsForm">
    <field-set>
{% endblock ParametersTop %}
        {% block extraParams %}
        {% endblock extraParams %}

        {% block paramsList %}
        <!-- Parameters -->
        <div id="paramsList"></div>
        {% endblock paramsList %}
        {% block ParametersBottom %}
    </field-set>
</form>
{% endblock ParametersBottom %}
{% endblock Parameters %}