{% extends "page-content.html" %}

{% block extraInput %}
{#  Upgrade version selector  #}
<div class="aui-panel">
    <form class="aui top-label">
        <fieldset class="top-label">
            <div class="field-group top-label">
                <label for="toplabelfieldexample">Upgrade Version</label>
                <input class="text" type="text" id="upgradeVersionSelector" name="toplabelfieldexample" disabled>
            </div>
        </fieldset>
    </form>
    <div class="aui-group">
    <div class="aui-item">
        <!-- Version checking not currently working, so hiding -->
        <button id="versionCheckButton" class="aui-button" disabled style="display: none;">Check</button>
    </div>
    <div class="aui-item" id="versionExists">
        {#    Filled in by JS    #}
    </div>
    </div>
</div>
{% endblock extraInput %}

{% block buttonText %}Upgrade{% endblock buttonText %}