{% extends "page-content.html" %}
{% block head %}
    <script src="/static/js/actionprogress.js"></script>
{% endblock head %}

{% block progress %}
<div class="aui-group">
    {#    Progress Panel    #}
    <iframe id="log" src="{{ url_for('actionreadytostart') }}" width="1000" height="400">
        Cannot display status because browser does not support iframes.
    </iframe>
</div>
{% endblock progress %}